xcuserdata/
xcshareddata/
*.sdf
*.opensdf
vs2013proj/libOOGL/Debug/
vs2013proj/libOOGL/Release/
vs2013proj/libOOGL/libOOGL/Debug/
vs2013proj/libOOGL/libOOGL/Release/
vs2013proj/libOOGL/libOOGL.v12.suo